@import url(../cforms-common.css);

/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */

.cform {
    width: 410px;
}

.cform fieldset {
    margin-top:10px;
    padding:5px 0 5px 0;
    border:none;
}

.cform legend {
    margin:0;
    padding:0;
    font-size:18px;
    color: #aaa;
    letter-spacing:3px;
}

ol.cf-ol {
    margin:0!important;
    padding:15px 0 0 0!important;
    border-top:1px solid #f2f2f2;
}
ol.cf-ol li {
    background:none!important;
    margin:5px 0!important;
    padding:0;
    list-style:none!important;
    text-align:left;
    line-height:1.1em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
    color:#888888;
    font-size:1em;
    letter-spacing:2px;
    margin:12px 0 !important;
    padding:0 0 0 100px;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
    width:90px;
    margin:4px 10px 0 0;
    display:inline-block;
    text-align:left;
    vertical-align:top;
    color: #aaa;
    font-size:0.9em;
}
.cform label span {
    width:90px; /* must be the same as above!*/
    display:block;
}

label.cf-before {
    margin:4px 10px 0 0;
}

label.cf-after {
    margin:4px 2px 0 6px;
    text-align:left;
    width:75px;
}

label.cf-after span {
    width:75px;
    display:block;
}

label.cf-group-after {
    margin:4px 0 0 2px;
    width:60px;
    text-align:left;
}
label.cf-group-after span {
    width:60px;
    display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select {
    padding:3px;
    border:1px solid #aaa;
    font-size:0.9em;
    color:#888;
    vertical-align:top;
}
.cform input:hover,
.cform textarea:hover,
.cform select:hover {
    border: 1px solid #FFCC00;
}

.cform input:focus,
.cform textarea:focus,
.cform select:focus {
    color:#666666;
}

.cform textarea,
.cform input {
    width:298px;
}
.cform select {
    width:306px;
}

.cform select.cfselectmulti {
    height:7.5em;
}

.cform textarea {
    font-size: 0.9em;
    overflow:auto;
}

/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt {
    margin:0 5px 7px 98px;
    display: block;
    color: #aaa;
    font-size:0.7em;
    line-height:1.2em;
}


/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
    color:#888888;
    font-size:1em;
    letter-spacing:2px;
    margin:12px 0 0 !important;
    padding:0 0 0 100px;
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

input.cf-box-a,
input.cf-box-b {
    margin:1px 0 0 0;
    width:16px;
    height:22px;
    border:none!important;
    background:none!important;
}

input.cf-box-a {
    margin-left:100px; /* check with label 'width' incl. */
}


/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
    padding: 0 0 5px 100px;
}


/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
    margin: 0;
    padding:0 3px 0 0 !important;
    text-align:right;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton {
    width:auto;
    padding:2px 1em;
    margin: 0;
    font-size:0.8em;
    background:#ddd linear-gradient(0deg, #ddd, #fff) repeat-x;
    border:1px solid #adadad!important;
    border-left-color:#ececec!important;
    border-top-color:#ececec!important;
}
.cform input.resetbutton {
    margin: 0 5px 0 0;
}
.cform input.backbutton {
    margin: 0 5px 0 0;
}

/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
    padding:5px 0!important;
    margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
    margin:0 0 0 10px;
    padding:0;
    color:#333;
}

ol.cf-ol ul.cf_li_text_err li {
    background:url(icon-alert.png) no-repeat left 1px!important;
    list-style:none!important;
    font-weight:bold;
    text-indent:0;
    margin:0 0 2px!important;
    padding-left:15px;
}

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */
label.secq,
label.seccap {
    vertical-align:text-bottom;
    margin-bottom:4px;
}

.captcha-reset {
    color:#888;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
    color:#333;
    width:380px;
}
div.cf_info a {
    color:#ad2929!important;
    text-decoration:underline!important;
}
div.success {
    background:#F9F9F9 none repeat scroll 0%;
    color:#AAAAAA;
    display:block;
}
div.failure {
    display:block;
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
}
div.waiting {
    background:#F9F9F9;
    color:#AAAAAA;
    display:block;
}
/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */
.cform .cf_error {
    border:1px solid #ad2929;
}
div.mailerr {
    display:block;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

p.cf_info {
    margin:10px 0;
    text-align:center;
}
p.success {
    color:green;
}
p.failure {
    color:#ad2929;
}
