@import url(../cforms-common.css);

/*                                                    */
/*  this custom example should help for RTL           */
/*  right to left type form                           */
/*                                                    */

/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */
.cform {
    direction:rtl;
    text-align:right;
    width: 410px;
}

.cform fieldset {
    margin-top:10px;
    padding:5px 0 15px 0;
    border:none;
    background:white;
}

.cform legend {
    color:#c66300;
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
    line-height:24px;
}

ol.cf-ol {
    margin:0!important;
    padding:0!important;
}
ol.cf-ol li {
    background:none!important;
    margin:5px 0!important;
    padding:0;
    list-style:none!important;
    text-align:right;
    line-height:1.3em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
    color:#C66300;
    letter-spacing:1px;
    padding:3px 0;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
    width:90px;
    margin:4px 0 0 0;
    padding-left:10px;
    display:inline-block;
    text-align:left;
    vertical-align:top;
}
.cform label span {
    width:90px; /* must be the same as above!*/
    display:block;
}

label.cf-before {
    margin:4px 0 0 0;
}

label.cf-after {
    margin:4px 0 0 0;
    padding-right:10px;
    width:200px;
    text-align:right;
}

label.cf-after span {
    width:200px;
    display:block;
}

label.cf-group-after {
    padding-right:10px;
    margin:4px 0 0 2px;
    width:110px;
    text-align:right;
}
label.cf-group-after span {
    width:110px;
    display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select {
    padding:3px;
    background: #FAF8F1;
    border:1px solid #FAE3AD;
    vertical-align:top;
    margin-left:10px;
    color:#C66300;
    letter-spacing:2px;
    font-style:normal;
    font-size:12px;
}
.cform input:hover,
.cform textarea:hover,
.cform select:hover {
    background:#FAF8F1;
    border: 1px solid #F5C074;
}

.cform input:focus,
.cform textarea:focus,
.cform select:focus {
    background:#FAF8F1;
    border: 1px solid #F5C074;
}

.cform textarea,
.cform input {
    width:150px;
}
.cform select {
    width:158px;
}

.cform select.cfselectmulti {
    height:7.5em;
}

.cform textarea {
    width:380px;
    overflow:auto;
}

/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt {
    color:#C66300;
    padding-right:4px;
    margin:5px 0 0 0;
    font-size:0.8em;
    display:inline-block;
    vertical-align:top;
}


/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
    color:#C66300;
    letter-spacing:1px;
    padding:3px 0;
    margin:6px 0!important;
    padding-right:100px; /* check with label 'width' incl. */
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

input.cf-box-a,
input.cf-box-b {
    margin:2px 0 0 0;
    width:16px;
    height:22px;
    border:none;
    background:none;
}

input.cf-box-a {
    margin-right:100px; /* check with label 'width' incl. */
}

html:first-child>*:first-child+b\ody input.cf-box-a {
    margin:2px 0 0 100px; /* only for Opera! */
}
/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
    padding: 0 100px 5px 0;
}


/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
    padding: 0!important;
    text-align:right;
    margin: 0;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton {
    width:120px;
    padding:2px;
    margin: 0 2px 5px 0;
    font-size:0.8em;
    background:#ddd linear-gradient(0deg, #ddd, #fff) repeat-x;
    border:1px solid #C66300 !important;
    border-left-color:#ececec!important;
    border-top-color:#ececec!important;
}



/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
    padding:5px 0!important;
    margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
    margin:0 100px 0 0;
    padding:0;
    color:#333;
}

ol.cf-ol ul.cf_li_text_err li {
    background:url(icon-alert.png) no-repeat right 1px!important;
    list-style:none!important;
    font-weight:bold;
    text-indent:0;
    margin:0 0 2px!important;
    padding-right:15px;
}

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

label.secq,
label.seccap {
    vertical-align:text-bottom;
    margin-bottom:4px;
}

.captcha-reset {
    color:#C66300;
    padding-right:5px;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
    color:#333;
    width:380px;
    direction:rtl;
}
div.cf_info a {
    color:#ad2929!important;
    text-decoration:underline!important;
}
div.success {
    background:#FAF8F1 none repeat scroll 0%;
    color:#C66300;
    display:block;
}
div.failure {
    display:block;
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
}
div.waiting {
    background:#F9F9F9;
    color:#AAAAAA;
    display:block;
}
/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */
.cform .cf_error {
    border:1px solid #ad2929;
}
div.mailerr {
    display:block;
}
