@import url(../cforms-common.css);

/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */

.cform {
    width: 450px;
}

.cform fieldset {
    margin-top:10px;
    padding:10px 0 2px 0;
    border:none;
}

.cform legend {
    margin-left:10px;
    padding: 0 2px;
    font-size:20px;
    color:#000066;
}

ol.cf-ol {
    margin:0!important;
    padding:0!important;
}
ol.cf-ol li {
    background:none!important;
    margin:0 10px!important;
    padding:0;
    list-style:none!important;
    text-align:left;
    line-height:1.3em;
}


/*                                                    */
/* just for text-only fields (no input)               */
/*                                                    */

ol.cf-ol li.textonly {
    padding:3px 0;
    text-align:center;
    color:#000099;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
    margin:0 10px 0 0;
    text-align:left;
    font-size: 11px;
    display:block;
    color:#97AEFF;
    padding:2px;
    letter-spacing:1px;
}

label.cf-before {
    display:inline-block;
    margin:3px 5px 0 0;
    width:80px;
}

label.cf-before span{
    width:80px;
    display:block;
}

label.cf-after {
    display:inline-block;
    margin:3px 0 0 4px;
    width:115px;
    text-align:left;
}

label.cf-after span {
    width:115px;
    display:block;
}

label.cf-group-after {
    display:inline-block;
    margin:3px 10px 0 4px;
    width:105px;
    text-align:left;
}
label.cf-group-after span {
    width:105px;
    display:block;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input,
.cform textarea,
.cform select {
    margin:0 0 10px 0;
    padding:3px;
    background: #C5DAED;
    border:none;
    border-top: 1px solid #f0f0f0;
    vertical-align:top;
    color:#000099;
    font-weight:bold;
    letter-spacing:1px;
}
.cform input:hover,
.cform textarea:hover,
.cform select:hover {
    background:#326CA0;
    color:white;
}

.cform input:focus,
.cform textarea:focus,
.cform select:focus {
    color:#000099;
    background:#F3F8F8;
}

.cform textarea,
.cform input {
    width:415px;
}
.cform select {
    width:421px;
}

.cform select.cfselectmulti {
    height:6.5em;
}

.cform textarea {
    font-size: 0.9em;
    height: 6em;
    overflow:auto;
}

/*                                                    */
/*   radio button title                               */
/*                                                    */

ol.cf-ol li.cf-box-title {
    color:#97AEFF;
    font-size:11px;
    letter-spacing:1px;
    padding:6px 0 0;
}

/*                                                    */
/*   check boxes                                      */
/*                                                    */

input.cf-box-a,
input.cf-box-b {
    margin:3px 0 0 0;
    width:16px;
    height:22px;
    border:none!important;
    background:none!important;
}


/*                                                    */
/* check box groups                                   */
/*                                                    */

ol.cf-ol li.cf-box-group {
    padding: 0 0 5px 0;
}


/*                                                    */
/* formatting for text:  "(required)"  & other        */
/*                                                    */

span.reqtxt,
span.emailreqtxt {
    display:block;
    color:#888888;
    font-size:9px;
    letter-spacing:3px;
    margin:0 3px 0 0;
    text-align:right;
    height:13px;
    line-height:13px;
    width:421px;
}

.cform textarea.fldemail,
.cform textarea.fldrequired,
.cform input.fldemail,
.cform input.fldrequired {
    margin:0;
}

/*                                                    */
/*   FORM submit button                               */
/*                                                    */

p.cf-sb {
    padding: 0!important;
    margin: 10px 0 0 0;
    text-align:right;
}
.cform input.backbutton,
.cform input.resetbutton,
.cform input.sendbutton {
    color:#74aecd;
    width:150px;
    padding:5px;
    margin: 0 18px 4px 0;
    font-size:0.8em;
    background:#97AEFF linear-gradient(0deg, #97AEFF 30%, #fff) repeat-x;
    border:1px solid #adadad!important;
    border-left-color:#ececec!important;
    border-top-color:#ececec!important;
}
.cform input.sendbutton:hover {
    color:#b0d1e3;
}
.cform input.resetbutton {
    width: auto;
    padding:5px 1em;
    margin-right:5px;
}
.cform input.backbutton {
    width: auto;
    padding:5px 1em;
    margin-right:5px;
}
/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */
ol.cf-ol li.cf_li_err {
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
    padding:5px 10px!important;
    margin:5px 0!important;
}

ol.cf-ol li ul.cf_li_text_err {
    padding:0 0 0 10px;
    margin:0;
    color:#333;
    display:inline-block;
}

ol.cf-ol ul.cf_li_text_err li {
    background:url(icon-alert.png) no-repeat left 1px!important;
    list-style:none!important;
    font-weight:bold;
    text-indent:0;
    margin:0 0 2px!important;
    padding-left:15px;
}


/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

label.seccap {
    margin-top: 6px;
}

label.secq{
    display:inline-block;
    width:auto;
    padding:2px 4px 2px 2px;
}
label.secq span {
    display:block!important;
    width:auto;
}

.captcha-reset {
    color:#BEDFE4;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
    color:#333;
    width:420px;
}
div.cf_info a {
    color:red!important;
    text-decoration:underline!important;
}
div.success {
    color:#000099;
    display:block;
    letter-spacing:2px;
    text-align:right;
}
div.failure {
    display:block;
    background:#FFDFDF repeating-linear-gradient(135deg, #FCEBED, white 1%, #FCEBED 2%) !important;
    border-color:#DF7D7D;
    border-style:solid;
    border-width:1px 0;
}
div.waiting {
    background:#F9F9F9;
    color:#AAAAAA;
    display:block;
}
/*                                                    */
/*   formatting for invalid user inputs               */
/*                                                    */
.cform .cf_error {
    border:1px solid #ad2929;
}
div.mailerr {
    display:block;
}
